:root {
  --spacing: 10px;
  --body-size: 16px;
  --header-size: calc(var(--body-size) * 2);
  --black: #000000;
  --tundora: #444444;
  --whitesmoke: #f5f5f5;
  --tablet: 768px;
  --mobile: 320px;
}

h4 {
  font-weight: bold;
}

.body {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: var(--body-size);
  line-height: 1.3;
  padding: var(--spacing);
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto auto;
  row-gap: calc(var(--spacing) * 4);
  background-color: var(--whitesmoke);
  grid-template-columns: 1fr;
  transition: all 0.75s;
}

@media screen and (min-width: 768px) {
  .body {
    padding: calc(var(--spacing) * 3);
    grid-template-rows: 20vh auto;
    grid-template-columns: 85ch;
    justify-content: center;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: calc(var(--spacing) * 2);
  align-items: center;
  grid-area: header;
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 150px 1fr;
  }
}

.author {
  display: grid;
  row-gap: var(--spacing);
}

.author__name {
  font-size: var(--header-size);
  font-weight: bold;
}

.avatar {
  height: 150px;
  object-fit: unset;
  border-radius: 50%;
}

.main {
  grid-area: main;
  display: grid;
  row-gap: calc(var(--spacing) * 5);
  animation: appearance 1.5s forwards;
}

.basic-information {
  display: grid;
  row-gap: calc(var(--spacing) * 3);
}

.action-item {
  display: grid;
  row-gap: var(--spacing);
}

.list {
  list-style: disc;
  display: grid;
  row-gap: var(--spacing) * 0.5;
  padding-left: 20px;
}

.projects {
  display: grid;
  row-gap: calc(var(--spacing) * 7);
}

@media screen and (min-width: 768px) {
  .projects {
    grid-template-rows: min-content 1fr 1fr 1fr;
  }
}

.project {
  display: grid;
  row-gap: calc(var(--spacing) * 2);
}

.project__header {
  font-weight: bold;
  font-size: var(--header-size);
  margin: 0 auto;
}

.project__summary {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .project__summary {
    grid-template-columns: max-content max-content;
  }
}

.project__name {
  font-size: calc(var(--header-size) * 0.8);
  font-weight: 600;
}

.project__team {
  display: grid;
  row-gap: var(--spacing);
}

@media screen and (min-width: 768px) {
  .project__team {
    row-gap: 0;
    column-gap: calc(var(--spacing) * 5);
    grid-template-columns: max-content max-content;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}